<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application-staas.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}

<style>
  .comingsoon_link {
    color: #1d70b8;
    text-decoration: underline dashed 1px;
    }
  
  .related-item__email-link {
    padding-left: 25px;
    font-weight: bold;
    background: url(/public/images/mail-icon.png) 0 40% no-repeat;
    background-size: 20px 14px;
    }
  
  .secureimage_link {
        padding-right: 25px;
        background: url(/public/images/padlocksimple.jpg) right top no-repeat;
        background-size: 20px 20px;
      }
</style>
