{% extends "digitalrules/layout.html" %} {% block pageTitle %} Rule 7 - Accelerate and innovate {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="contact.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 7 - Accelerate and innovate</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 7 - Accelerate and innovate</h1>
        <p class="govuk-body-l">Deliver a competitive edge with emergent and enabling technologies such as AI, IoT and Synthetics.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            To accelerate our strategic edge, we need to support the widespread adoption and scaling up of modern technologies by being aware of wider industry trends and working with our suppliers and partners to ensure we maintain maximum exposure to emerging technologies.
        </p>
        <p class="govuk-body">
          To deliver a competitive edge we encourage the use of suitable emerging and enabling technologies, such as:
        </p>
        <ul class="govuk-list govuk-list--bullet" style="margin-left: 2em;">
          <li>Artificial Intelligence (AI)</li>
          <li>Internet of Things (IoT)</li>
          <li>Robotic Process Automation (RPA)</li>
          <li>Intelligent Automation (IA)</li>
          <li>Augmented/Virtual Reality (AR/VR)</li>
          <li>Graph Technologies</li>
          <li>3D Printing</li>
          <li>Biometrics</li>
        </ul>
        <h3 class="govuk-heading-m">Robotics Process Automation (RPA) and low code</h3>
        <p class="govuk-body">
          Innovation isn't just about using the latest cutting-edge technologies, but also applying established enabling technologies in novel ways to current problems, like applying RPA to replace human led data entry into existing applications.
        </p>
        <p class="govuk-body">
          To understand how you can use RPA and low code for your service, <a class="govuk-link secureimage_link" href="https://modgovuk.sharepoint.com/sites/24179/SitePages/Contact-the-ACOE.aspx">contact the Automation team</a>.
        </p>
        
        <h2 class="govuk-heading-m">What you must do</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            use our <a class="govuk-link secureimage_link" href="https://confluence.tooling-prod.ice.mod.gov.uk/">MODCloud</a> platform as the default choice when building new digital services
          </li>
          <li>
            use Machine Learning (ML) and AI-based automation to improve decision-making
          </li>
          <li>
            consider how new and existing technologies could be applied in novel ways to solve problems
          </li>
          <li>
            use our common automation platform
          </li>
          <li>
            follow the AI and Automation Centre of Excellence’s <a class="govuk-link secureimage_link" href="https://modgovuk.sharepoint.com/sites/24179">standards and guidance</a>
          </li>
        </ul>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside>
          <p class="govuk-body-s">
            From: <a class="govuk-link" href="https://www.gov.uk/government/groups/defence-digital"><strong>Defence Digital</strong></a><br/>
            Published 1 April 2022<br/>
            Last updated 4 April 2022
          </p>
        </aside>
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard">Government Service Standard</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules">JSP 604</a></li>
            <li><a class="govuk-link secureimage_link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a></li>
            <li><a class="govuk-link secureimage_link" href="https://modgovuk.sharepoint.com/sites/DDDigEnab-TeamSite/Shared%20Documents/Forms/AllItems.aspx?id=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture/Network%20Reference%20Architecture%20v1.0.pdf&parent=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture">Network Reference Architecture</a></li>
            <li><a class="govuk-link secureimage_link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/604-work.aspx">Standards as a Service</a></li>
            <li><a class="govuk-link secureimage_link" href="https://modgovuk.sharepoint.com/sites/defnet/HOCS/Pages/Defence-Security,-Resilience-and-Business-Continuity.aspx">JSP 440</a></li>
          </ul>
        </aside>
      </div>
     
    </div>
 
    <!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading govuk-!-text-align-right">
              Next: Digital Rules point 8<br/>
              <a class="govuk-notification-banner__link" href="reuseexistingproducts.html">Reuse existing products</a>
            </p>
          </div>
        </div>
      </div>
    </div>-->

  </main>
  
</div>

{% endblock %}
