{% extends "digitalrules/layout.html" %} {% block pageTitle %} Rule 9 - Apply continuous improvement {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 9 - Apply continuous improvement</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 9 - Apply continuous improvement</h1>
        <p class="govuk-body-l">Adopt modern delivery methods and place continuous improvement at the heart of your service.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            You need to plan for change and iterate quickly by proactively understanding both current and potential user needs and business requirements.
        </p>
        <p class="govuk-body">
          Work with your business area to make sure that you’re able to focus on improvements that have the most value. You should frequently carry out user research to ensure you are incorporating these into your development cycle.
        </p>
        <p class="govuk-body">
          The best way to build good services is to start small and iterate often. Release a <a class="govuk-link" href="https://en.wikipedia.org/wiki/Minimum_viable_product">minimum viable product</a> early, test it with actual users and learn from the feedback. To achieve this, you should manage your project or programme using an agile framework.
        </p>

        <h3 class="govuk-heading-m">Working with agile methods</h3>
        <p class="govuk-body">
            Iteration reduces risk. It makes big failures unlikely and turns small failures into lessons. This is part of an agile delivery model.
        </p>
        <p class="govuk-body">
            To deliver consistent, quality outcomes we recommend adopting modern agile software development practices when building new Digital Services:
        </p>
        <ul class="govuk-list govuk-list--bullet" style="margin-left: 2em;">
          <li><b>Identify and empower a Product Owner:</b> you must appoint a product owner who is accountable as their primary role for how well the product meets user needs</li>
          <li><b>Deeply understand user needs:</b> you must engage with real and/or expected users to identify and understand their underlying needs</li>
          <li><b>Prioritize rapidly delivering value to users:</b> you must define a minimum viable product (MVP), which should be the smallest release possible to deliver a solution that solves a user need</li>
          <li><b>Use version control:</b> you must use a MOD managed version control system, such as Git, for all source code required to deploy and run a given solution, including both infrastructure-as-code and application code</li>
          <li><b>Track work consistently:</b> you must have a MOD managed central location for tracking current and future work, for example Jira as the work tracking tool and Confluence for document design details and decisions</li>
          <li><b>Automate testing:</b> you must include automated tests that verify functionality as part of the continuous integration / continuous delivery (CI/CD) pipeline</li>
          <li><b>Provide support and feedback mechanisms:</b> you must be able to measure support issues and provide users a way to feedback to the team and get responses back within a reasonable timeframe</li>
          <li><b>Document and share APIs:</b> you must document APIs using industry standard API-Specification formats (i.e. OpenAPI, RAML)</li>
          <li><b>Automate deployments:</b> you must be able to automatically deploy the solution to non-production and production environments using a MOD managed CI/CD pipeline, for example Jenkins</li>
          <li><b>Automate monitoring:</b> you must have visibility into how systems are working through enterprise application performance monitoring (APM) tools, to understand how your solution is performing and changing over time</li>
          <li><b>Automate alerting and incident response:</b> solutions must integrate with enterprise monitoring tools, and be self-healing to the maximum extent possible</li>
          <li><b>Use data to drive decisions:</b> you must have continuous ways to measure how a product is performing for users, and use these metrics for decision making on the product backlog and roadmap</li>
          <li><b>Iterate and improve continually:</b> continuous improvement means you must capture and respond to changes in user needs, technology, or government policy throughout the lifetime of the product</li>
        </ul>
        <p>To learn more about using agile, iterative methods, read the <a class="govuk-link" href="https://www.gov.uk/service-manual/agile-delivery">Government Service Standard</a>.</p>
        
        <h2 class="govuk-heading-m">What you must do</h2>
        <p class="govuk-body">To help ensure your service meets user's needs, and to reduce the risk of delivering the wrong thing, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            follow the <a class="govuk-link" href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework">DDaT Capability Framework</a>
          </li>
          <li>
            follow the <a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard">Government Service Standard</a>
          </li>
          <li>
            follow the <a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a>
          </li>
          <li>
            create a 'learn fast' culture which moves away from blame and understands that small managed 'failures' are good practice
          </li>
          <li>
            regularly carry out user-centred design practices, such as user research, to understand user needs and incorporate these into your change cycle
          </li>
          <li>
            plan for change and iterate quickly; do not aim for quarterly releases unless these are the most appropriate for your service, aim to get changes out as quickly as possible
          </li>
          <li>
            prioritise your product backlog to ensure the time box or sprint aims are clearly understood and delivered; consider using the <a class="govuk-link" href="https://kanomodel.com/about-the-kano-model/">Kano model</a> to help to achieve this
          </li>
          <li>
            engage with users and stakeholders regularly about your service, for example, using show and tell sessions
          </li>
        </ul>
        <p class="govuk-body">
          The Digital Foundry is producing a standard DevSecOps environment for use across defence, please contact them to understand how best to build digital services based on current environment availability.
        </p>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside>
          <p class="govuk-body-s">
            From: <a class="govuk-link" href="https://www.gov.uk/government/groups/defence-digital"><strong>Defence Digital</strong></a><br/>
            Published 1 April 2022<br/>
            Last updated 4 April 2022
          </p>
        </aside>
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://www.isms.online/iso-27001/10-2-continual-improvement/">ISO 27001</a></li>
          </ul>
        </aside>
      </div>
    
    </div>
 
    <!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading govuk-!-text-align-right">
              Next: Case Studies<br/>
              <a class="govuk-notification-banner__link" href="Case-study-1.html">Case Study 1</a>
            </p>
          </div>
        </div>
      </div>
    </div>-->

  </main>
  
</div>

{% endblock %}
