{% extends "layout.html" %} {% block pageTitle %} Rule 9 - Apply continuous improvement {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version C. The Digital Rules are currently in early development, at an <strong class="govuk-tag govuk-tag--purple">alpha</strong> stage. <br/>
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/1-manual-home-launch">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 9 - Apply continuous improvement</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 9 - Apply continuous improvement</h1>
        <p class="govuk-body-l">Adopt modern delivery methods and place continuous improvement at the heart of your service.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            You need to plan for change and iterate quickly by proactively understanding both current and potential user needs and business requirements.
        </p>
        <p class="govuk-body">
          Work with your business area to make sure that you’re able to focus on improvements that have the most value. You should frequently carry out user research to ensure you are incorporating these into your development cycle.
        </p>
        <p class="govuk-body">
          The best way to build good services is to start small and iterate often. Release a <a class="govuk-link" href="https://en.wikipedia.org/wiki/Minimum_viable_product">minimum viable product</a> early, test it with actual users and learn from the feedback. To achieve this, you should manage your project or programme using an agile framework.
        </p>

        <h3 class="govuk-heading-m">Working with agile methods</h3>
        <p class="govuk-body">
            Iteration reduces risk. It makes big failures unlikely and turns small failures into lessons. This is part of an agile delivery model.
        </p>
        <p class="govuk-body">
            To deliver consistent, quality outcomes we recommend adopting modern agile software development practices when building new Digital Services:
        </p>
        <ul class="govuk-list govuk-list--bullet" style="margin-left: 2em;">
          <li><b>Identify and empower a Product Owner:</b> you must appoint a product owner who is accountable as their primary role for how well the product meets user needs</<li>
        </ul>
        
        <h2 class="govuk-heading-m">What you must do</h2>
        <p class="govuk-body">To help ensure we deliver value and quality in our services, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            follow <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules">JSP 604</a> rules relating to Reuse:
          </li>
          <li style="list-style: none;">
            <ul>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-1-ict-shall-be-reused-where-available">Rule 1, ICT shall be reused where available</a>, you must reuse Defence and Cross Government ICT where available
              </li>
            </ul>
          </li>
          <li>
            use our existing digital platforms, such as DevSecOps, MODCloud, API Management
          </li>
          <li>
            select products from our approved product catalogue, if a common digital platform is not available
          </li>
          <li>
            services not currently in use in the MOD may still be available under existing contracts, these must be leveraged before seeking to procure or build new
          </li>
          <li>
            follow <a class="govuk-link" href="https://www.wifi.service.gov.uk/">GovWifi guidance</a> if you are setting up a new Wi-Fi network
          </li>
          <li>
            re-use existing architecture building blocks for your service, for example the Defence Digital Reference Architecture 
          </li>
          <li>
            aim to reduce our carbon footprint by choosing more sustainable products where they meet your requirements, favour suppliers committed to achieving Net Zero by 2050
          </li>
        </ul>
        <p class="govuk-body">
          A <a class="govuk-link" href="#">Core technology reference list</a> is being curated and will soon be made available showcasing recommended products and solutions used across the Defence estate.
        </p>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDDigEnab-TeamSite/Shared%20Documents/Forms/AllItems.aspx?id=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture/Network%20Reference%20Architecture%20v1.0.pdf&parent=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture">Network Reference Architecture</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard">GDS Service Standard</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/:w:/r/teams/23245/_layouts/15/Doc.aspx?sourcedoc=%7bD10A47F0-1B80-46FD-93B1-18C5F8154D24%7d&file=20201217%20Service%20Management%20Framework%20v2.0.docx&action=default&mobileredirect=true">Defence Digital Service Management Framework</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/604-work.aspx">Standards as a Service</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/defnet/HOCS/Pages/Defence-Security,-Resilience-and-Business-Continuity.aspx">JSP 440</a></li>
            <li><a class="govuk-link" href="https://gbr01.safelinks.protection.outlook.com/?url=https://modgovuk.sharepoint.com/sites/IntranetFinanceHub&data=04%7c01%7cThomas.Snelgrove100%40mod.gov.uk%7cf3c4aa297681446c112708d98c94ae25%7cbe7760ed5953484bae95d0a16dfa09e5%7c0%7c0%7c637695392460393830%7cUnknown%7cTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7c1000&sdata=izsK9K0HNjIA67dl4E4t%2B9045YRzVd2PrRb13EUqff8%3D&reserved=0">Finance Hub</a></li>
            <li><a class="govuk-link" href="https://gbr01.safelinks.protection.outlook.com/?url=https://modgovuk.sharepoint.com/teams/19091&data=04%7c01%7cAlyson.Fielding105%40mod.gov.uk%7c9c927e0700454a3ba33708d9985e6a2b%7cbe7760ed5953484bae95d0a16dfa09e5%7c0%7c0%7c637708353531752897%7cUnknown%7cTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7c1000&sdata=wOldAfX3JgF3TEztWAHbe7qULoORRuaRSSKJfnMEjbc%3D&reserved=0">DD Commercial Services Portal</a></li>
            <li><a class="govuk-link" href="https://gbr01.safelinks.protection.outlook.com/?url=https://modgovuk.sharepoint.com/sites/defnet/HOCS/Pages/JSP895.aspx&data=04%7c01%7cAlyson.Fielding105%40mod.gov.uk%7c9c927e0700454a3ba33708d9985e6a2b%7cbe7760ed5953484bae95d0a16dfa09e5%7c0%7c0%7c637708353531752897%7cUnknown%7cTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7c1000&sdata=zxk4B0dhJalZzJbEi8kDg49uITe91BpX7W6fjM9RdZ8%3D&reserved=0">JSP 895</a></li>
          </ul>
        </aside>
      </div>
    
    </div>
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading govuk-!-text-align-right">
              Next: Case Studies<br/>
              <a class="govuk-notification-banner__link" href="Case-study-1.html">Case Study 1</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </main>
  
</div>

{% endblock %}
