{% extends "layout.html" %} {% block pageTitle %} Rule 5 - Build in futureproofing from the start {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version C. The Digital Rules are currently in early development, at an <strong class="govuk-tag govuk-tag--purple">alpha</strong> stage. <br/>
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/1-manual-home-launch">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 5 - Build in futureproofing from the start</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 5 - Build in futureproofing from the start</h1>
        <p class="govuk-body-l">Adopt futureproofing measures and focus on architecting for success with greenfield technologies that reduce the risks of our systems becoming unsupported.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            Futureproofing describes a range of measures that help ensure the technology we use remains current, supported, secure and reliable. If you do not futureproof your service, the data and systems you use may be exposed to security risks.
        </p>
        <h3 class="govuk-heading-m">Working with Suppliers</h3>
        <p class="govuk-body">
            Suppliers, rather than Defence, are responsible for proactively managing their assets and making sure the relevant documentation is in place.
        </p>
        <p class="govuk-body">
          However, when agreeing to work with a supplier, our contracts should include clauses to:
        </p>
        <ul class="govuk-list govuk-list--bullet" style="margin-left: 2em;">
          <li>include evergreen requirements</li>
          <li>ensure any software is a currently supported version</li>
          <li>address the status and risk mitigation for current software and end of life software</li>
          <li>ensure suppliers can share data in open formats and provide documentation</li>
          <li>enable tracking of all digital and data assets</li>
          <li>create key performance indicators (KPIs)</li>
          <li>use standard terminology</li>
        </ul>
        
        <h2 class="govuk-heading-m">What you must do</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            follow <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules">JSP 604</a> rules relating to Future-proofing:
          </li>
          <li style="list-style: none;">
            <ul>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-14-ict-shall-be-developed-and-its-performance-demonstrated-with-respect-to-the-environment-in-which-it-will-operate">Rule 14, ICT shall be developed and its performance demonstrated with respect to the environment in which it will operate</a>, the solution must be properly defined in terms of use, information exchange requirements and performance
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-15-ict-shall-have-suitable-representative-test-environments-rte-available-to-enable-through-life-testing-to-be-conducted">Rule 15, ICT shall have suitable representative test environments (RTE) available to enable through life testing to be conducted</a>, the solution must have representative test environments available throughout the life of the capability
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-16-ict-capabilities-and-services-shall-be-designed-to-provide-a-high-quality-product">Rule 16, ICT capabilities and services shall be designed to provide a high-quality product</a>, the solution must meet requirements for reliability, maintainability, usability and serviceability, thereby permitting holistic service management
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-17-ict-shall-have-defined-support-arrangements">Rule 17, ICT shall have defined support arrangements</a>, the solution must have funded support arrangements in place to satisfy levels of service requirements, these must be demonstrated to the GOSCC
              </li>              
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-18-ict-shall-have-appropriate-software-licenses-procured-and-managed-through-life">Rule 18, ICT shall have appropriate software licenses procured and managed through life</a>, the solution must have appropriate software licensing in place through life
              </li>
            </ul>
          </li>
          <li>
            follow the guidance in the <a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a>
          </li>
          <li>
            use agile ways of working within Defence, applying iterative change as part of a continuous development lifecycle
          </li>
          <li>
            share and learn future-proofing best practice, both from within and outside of Defence
          </li>
          <li>
            track and manage all digital and data assets
          </li>
          <li>
            use government technology and <a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard">service standards</a>
          </li>
        </ul>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDDigEnab-TeamSite/Shared%20Documents/Forms/AllItems.aspx?id=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture/Network%20Reference%20Architecture%20v1.0.pdf&parent=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture">Network Reference Architecture</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard">GDS Service Standard</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/:w:/r/teams/23245/_layouts/15/Doc.aspx?sourcedoc=%7bD10A47F0-1B80-46FD-93B1-18C5F8154D24%7d&file=20201217%20Service%20Management%20Framework%20v2.0.docx&action=default&mobileredirect=true">Defence Digital Service Management Framework</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/604-work.aspx">Standards as a Service</a></li>
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/defnet/HOCS/Pages/Defence-Security,-Resilience-and-Business-Continuity.aspx">JSP 440</a></li>
            <li><a class="govuk-link" href="https://gbr01.safelinks.protection.outlook.com/?url=https://modgovuk.sharepoint.com/sites/IntranetFinanceHub&data=04%7c01%7cThomas.Snelgrove100%40mod.gov.uk%7cf3c4aa297681446c112708d98c94ae25%7cbe7760ed5953484bae95d0a16dfa09e5%7c0%7c0%7c637695392460393830%7cUnknown%7cTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7c1000&sdata=izsK9K0HNjIA67dl4E4t%2B9045YRzVd2PrRb13EUqff8%3D&reserved=0">Finance Hub</a></li>
            <li><a class="govuk-link" href="https://gbr01.safelinks.protection.outlook.com/?url=https://modgovuk.sharepoint.com/teams/19091&data=04%7c01%7cAlyson.Fielding105%40mod.gov.uk%7c9c927e0700454a3ba33708d9985e6a2b%7cbe7760ed5953484bae95d0a16dfa09e5%7c0%7c0%7c637708353531752897%7cUnknown%7cTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7c1000&sdata=wOldAfX3JgF3TEztWAHbe7qULoORRuaRSSKJfnMEjbc%3D&reserved=0">DD Commercial Services Portal</a></li>
            <li><a class="govuk-link" href="https://gbr01.safelinks.protection.outlook.com/?url=https://modgovuk.sharepoint.com/sites/defnet/HOCS/Pages/JSP895.aspx&data=04%7c01%7cAlyson.Fielding105%40mod.gov.uk%7c9c927e0700454a3ba33708d9985e6a2b%7cbe7760ed5953484bae95d0a16dfa09e5%7c0%7c0%7c637708353531752897%7cUnknown%7cTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7c1000&sdata=zxk4B0dhJalZzJbEi8kDg49uITe91BpX7W6fjM9RdZ8%3D&reserved=0">JSP 895</a></li>
          </ul>
        </aside>
      </div>
    
    </div>
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading govuk-!-text-align-right">
              Next: Digital Rules point 6<br/>
              <a class="govuk-notification-banner__link" href="cloudfirst.html">Host your service in the cloud</a>
            </p>
          </div>
        </div>
      </div>
    </div>
 
  </main>
  
</div>

{% endblock %}
