{% extends "digitalrules/layout.html" %} {% block pageTitle %} Rule 6 - Host your service in the cloud {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 6 - Host your service in the cloud</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 6 - Host your service in the cloud</h1>
        <p class="govuk-body-l">Grow our elastic, evergreen technology estate by using hyperscale cloud across the organisation.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            By default, all new services should be hosted in the cloud, based on the cloud-first strategy outlined in the <a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a> and in the <a class="govuk-link" href="https://www.gov.uk/government/publications/digital-strategy-for-defence-delivering-the-digital-backbone-and-unleashing-the-power-of-defences-data/digital-strategy-for-defence">Digital Strategy for Defence</a>.
        </p>
        <p class="govuk-body">
          By using cloud hosting, you’ll ensure your service is:
        </p>
        <ul class="govuk-list govuk-list--bullet" style="margin-left: 2em;">
          <li>less exposed to risk</li>
          <li>cheaper to deliver</li>
          <li>ready to support new technology</li>
        </ul>
        <h3 class="govuk-heading-m">If your service already exists</h3>
        <p class="govuk-body">
          If your application is currently hosted on a physical server computer (or on-premise), you are encouraged to work to move it to the cloud as soon as possible. You may need to redesign the service to enable this.
        </p>
        <h3 class="govuk-heading-m">Using MODCloud</h3>
        <p class="govuk-body">
          <a class="govuk-link secureimage_link" href="login.html?url=https://confluence.tooling-prod.ice.mod.gov.uk/">MODCloud</a> is the Ministry of Defence’s secure, cloud hosting service that helps to ensure ‘secure by design’ through provision of pre-built compliance at the platform level, thus reducing the burden on digital teams.
        </p>
        <p class="govuk-body">
          If your service is classified as OFFICIAL or OFFICIAL-SENSITIVE, you must use public hosting on MODCloud.
        </p>
        <p class="govuk-body">
          If your service is classified as SECRET or TOP SECRET, you must contact the MODCloud Team to discuss your hosting options. This may include using private hosting on MODCloud.
        </p>
        <p class="govuk-body">
          If you think your service cannot be hosted in the cloud, <a class="govuk-link" href="mailto:ISSDel-ASDT-CloudEngage@mod.gov.uk">contact the MODCloud Team</a>.
        </p>
        <h3 class="govuk-heading-m">Getting assurance for your service</h3>
        <p class="govuk-body">
          We must build services, not applications. To do this we should use existing, approved cloud technologies whenever possible and according to cloud native principles outlined in The Foundry Way. Follow these rules to ensure your service can be deployed on the Ministry of Defence network (MODnet).
        </p>
        
        <h2 class="govuk-heading-m">What you must do</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            follow <a class="govuk-link" href="https://www.gov.uk/guidance/securing-saas-tools-for-your-organisation">UK government</a> and <a class="govuk-link" href="https://www.ncsc.gov.uk/collection/saas-security">NCSC guidance</a> and use SaaS products first if they are able to meet requirements
          </li>
          <li>
            use approved PaaS or IaaS services if they are able to meet requirements in the absence of a SaaS solution
          </li>
          <li>
            design services as 'mobile first'
          </li>
          <li>
            develop modular microservices-based, loosely coupled, container-based architectures and use approved technologies for orchestration (such as Kubernetes) to ensure multi-cloud portability, performance and value for money
          </li>
          <li>
            everything must be secure by design
          </li>
          <li>
            assess risks to ensure applications are secure
          </li>
        </ul>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside>
          <p class="govuk-body-s">
            From: <a class="govuk-link" href="https://www.gov.uk/government/groups/defence-digital"><strong>Defence Digital</strong></a><br/>
            Published 1 April 2022<br/>
            Last updated 4 April 2022
          </p>
        </aside>
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a></li>
            <li><a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/DDDigEnab-TeamSite/Shared%20Documents/Forms/AllItems.aspx?id=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture/Network%20Reference%20Architecture%20v1.0.pdf&parent=/sites/DDDigEnab-TeamSite/Shared%20Documents/Arch%20Kanban/01.%20Future%20Defence%20EA/11.%20Networks%20Reference%20Architecture">Network Reference Architecture</a></li>
            <li><a class="govuk-link" href="https://www.ncsc.gov.uk/collection/cloud-security">Cloud security guidance</a></li>
          </ul>
        </aside>
      </div>
    
    </div>
 
    <!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading govuk-!-text-align-right">
              Next: Digital Rules point 7<br/>
              <a class="govuk-notification-banner__link" href="accelerateandinnovate.html">Accelerate and innovate</a>
            </p>
          </div>
        </div>
      </div>
    </div>-->

  </main>
  
</div>

{% endblock %}
