{% extends "layout.html" %} {% block pageTitle %} Rule 1 - Make use of common standards and patterns {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version C. The Digital Rules are currently in early development, at an <strong class="govuk-tag govuk-tag--purple">alpha</strong> stage. <br/>
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/1-manual-home-launch">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 1 - Make use of common standards and patterns</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 1 - Make use of common standards and patterns</h1>
        <p class="govuk-body-l">To guide, support, and cohere technology solutions in the best interests of Defence as a whole.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            You must use approved common standards, technical reference architectures and patterns for your project, whenever possible.
        </p>
        <p class="govuk-body">
            This helps us achieve a standard approach to building services so we can work efficiently now and in the future.
        </p>
        <p class="govuk-body">
            Before you can get approval to proceed with your project, you must submit the idea for your project to the Architecture Triage Board.
        </p>
        <p class="govuk-body">
          We will review your idea and explain what you need to do in order to proceed. The review can take up to 4 weeks, so we recommend you submit your idea as early as possible. 
        </p>

        <h2 class="govuk-heading-m">What you must do</h2>
        <p class="govuk-body">
          When developing a new, or changing an existing digital service, you must:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="#">submit your project idea to the Architecture Triage Board</a>
          </li>
          <li>
            follow the guidance in our <a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a>
          </li>
          <li>
            follow the guidance in The Foundry Way <span class="govuk-tag govuk-tag--yellow">(coming soon)</span>
          </li>
        </ul>
      </div>
    
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/:w:/r/teams/23245/_layouts/15/Doc.aspx?sourcedoc=%7bD10A47F0-1B80-46FD-93B1-18C5F8154D24%7d&file=20201217%20Service%20Management%20Framework%20v2.0.docx&action=default&mobileredirect=true">Defence Digital Service Management Framework</a></li>
            <li><a class="govuk-link" href="https://pubs.opengroup.org/architecture/archimate3-doc/">ArchiMate specification</a></li>
          </ul>
        </aside>
      </div>
    
    </div>

  </main>
  
</div>

{% endblock %}
