{% extends "digitalrules/layout.html" %} {% block pageTitle %} Contact the team {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Contact the team</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Contact the Digital Rules team</h1>
        <p class="govuk-body-l">Contact us if you have feedback, a question or a suggestion about the Digital Rules.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Feedback form</h2>
        <p class="govuk-body">
            Complete the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/contact/govuk">GOV.UK feedback form</a> - you can do this anonymously if you do not need a response.
        </p>
        <h2 class="govuk-heading-m">Email</h2>
        <p class="govuk-body">Email us at: <a class="govuk-link govuk-link--no-visited-state" href="mailto:mod-digitaltechnologyrules@mod.gov.uk">mod-digitaltechnologyrules@mod.gov.uk</a></p>
      </div>
      
      <!--
      <div class="govuk-grid-column-one-third">
        <aside>
          <p class="govuk-body-s">
            From: <a class="govuk-link" href="https://www.gov.uk/government/groups/defence-digital"><strong>Defence Digital</strong></a><br/>
            Published 1 April 2022<br/>
            Last updated 4 April 2022
          </p>
        </aside>
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a></li>
          </ul>
        </aside>
      </div>
      -->
      
    </div>
 
  </main>
  
</div>

{% endblock %}
