{% extends "layout.html" %} {% block pageTitle %} Digital Rules {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Digital Rules
        </h1>

        <div class="govuk-phase-banner">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
              alpha
            </strong>
            <span class="govuk-phase-banner__text">
              Prototype - Version C. The Digital Rules are currently in early development, at an alpha stage.<br/>
              We're testing this latest prototype to understand whether it meets the needs of Defence, and it will iterate based on what we discover.<br/><br/>
              This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
          </p>
        </div>
        
        <h2 class="govuk-heading-l">
            Security guidance by JSP604 rule area
        </h2>
        <p><a href="/url/of/onward/page">Rule 9: ICT shall be developed using the cross domain solution approach defined by ISS Des Architecture</a></p>
        <p><a href="/url/of/onward/page">Rule 10: ICT shall be accredited in accordance with current policy</a></p>
        <p><a href="/url/of/onward/page">Rule 11: ICT shall comply with Op AUGITE requirements</a></p>
        
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">One-third column</h2>
            <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
        </div>
    </div>
</div>
    
</main>
{% endblock %}
