{% extends "layout.html" %} {% block pageTitle %} Digital Rules {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          prototype
        </strong>
        <span class="govuk-phase-banner__text">
          Version C. The Digital Rules are currently in early development, at an alpha stage. 
          We're testing this latest prototype to understand whether it meets the needs of Defence, and it will iterate based on what we discover.<br/><br/>
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <p></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Digital Rules</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">The Digital Rules are a set of criteria to help us design, build and buy technology in the Ministry of Defence (MOD).</p>
        <h3 class="govuk-heading-s">Contents</h3>
        <ol class="govuk-list govuk-list--number">
          <li>
          <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#1-make-use-of-common-standards-and-patterns" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#1-make-use-of-common-standards-and-patterns">Make use of common standards and patterns</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#2-realise-interoperability" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#2-realise-interoperability">Realise&nbsp;interoperability</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#3-recognise-data-as-a-strategic-asset" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#3-recognise-data-as-a-strategic-asset">Recognise data as a strategic asset</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#4-make-your-service-secure" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#4-make-your-service-secure">Make your service secure</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#5-build-in-futureproofing-from-the-start" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#5-build-in-futureproofing-from-the-start">Build in futureproofing from the start</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#6-host-your-service-in-the-cloud" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#6-host-your-service-in-the-cloud">Use cloud first</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#7-accelerate-and-innovate" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#7-accelerate-and-innovate">Accelerate and innovate</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#8-reuse-existing-products" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#8-reuse-existing-products">Reuse existing products</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#9-apply-continuous-improvement" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#9-apply-continuous-improvement">Apply continuous improvement</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#case-studies" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#case-studies">Case studies</a>
          </li>
          <li>
            <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#13-contacts" title="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/Digital-Rules12.aspx#13-contacts">Contacts</a>
          </li>
        </ol>
        <h2 class="govuk-heading-l">Two-thirds column</h2>
        <p class="govuk-body-l">This is a lead paragraph inside a two-thirds wide column</p>
        <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related Content</h3>
        <ul class="govuk-list govuk-list--number">
          <li>Digital Strategy for Defence</li>
          <li>Payment.</li>
          <li>Confirmation.</li>
        </ul>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
      </div>
      
    </div>

  </main>
</div>

{% endblock %}
