{% extends "layout.html" %} {% block pageTitle %} Digital Rules {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version C. The Digital Rules are currently in early development, at an <strong class="govuk-tag govuk-tag--purple">alpha</strong> stage. <br/>
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Digital Rules</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Digital Rules</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">The Digital Rules are a set of criteria to help us design, build and buy technology in the Ministry of Defence (MOD).</p>
        <h3 class="govuk-heading-s">Contents</h3>
        <ul class="govuk-list govuk-list--dashed">
          <li>
            — <a class="govuk-link" href="#">Digital Rules</a>
          </li>
          <li>
            — <a class="govuk-link" href="#commonstandardsandpatterns" >1. Make use of common standards and patterns</a>
          </li>
          <li>
            — <a class="govuk-link" href="#realiseinteroperability">2. Realise&nbsp;interoperability</a>
          </li>
          <li>
            — <a class="govuk-link" href="#dataasastrategicasset">3. Recognise data as a strategic asset</a>
          </li>
          <li>
            — <a class="govuk-link" href="#makeyourservicesecure">4. Make your service secure</a>
          </li>
          <li>
            — <a class="govuk-link" href="#buildinfutureproofing">5. Build in futureproofing from the start</a>
          </li>
          <li>
            — <a class="govuk-link" href="#">6. Use cloud first</a>
          </li>
          <li>
            — <a class="govuk-link" href="#">7. Accelerate and innovate</a>
          </li>
          <li>
            — <a class="govuk-link" href="#">8. Reuse existing products</a>
          </li>
          <li>
            — <a class="govuk-link" href="#">9. Apply continuous improvement</a>
          </li>
          <li>
            — <a class="govuk-link" href="#">Case studies</a>
          </li>
          <li>
            — <a class="govuk-link" href="#">Contacts</a>
          </li>
        </ul>
        <p class="govuk-body">
            The Digital Rules is an agreed standard used for the <a href="https://modgovuk.sharepoint.com/sites/mod-digitaltechnologyrules/SitePages/spend%20control%20process.aspx">Ministry of Defence spend control process</a>.
        </p>
        <p class="govuk-body">
            We have adapted the rules based on the <a href="https://www.gov.uk/guidance/the-technology-code-of-practice">Government Technology Code of Practice</a> and they are designed specifically for MOD.
        </p>
        <p class="govuk-body">
            You should use these rules for all of your technology projects or programmes. Consider each point, align your project or programme with the mandatory points, and follow as many of the remaining points as is practical.
        </p>
        <p class="govuk-body">
            Where there is no guidance for a specific area of your project or programme, you should follow the <a href="https://www.gov.uk/guidance/the-technology-code-of-practice">Government Technology Code of Practice</a>.
        </p>
        <div class="govuk-inset-text">
          We're testing this latest prototype to understand whether it meets the needs of Defence, and it will iterate based on what we discover.
        </div>
        <h2 id="commonstandardsandpatterns" class="govuk-heading-m"><strong class="govuk-tag">1</strong> Make use of common standards and patterns</h2>
        <p class="govuk-body">
          Before you can get approval to proceed with your project, you must submit the idea for your project to the Architecture Triage Board.
        </p>
        <p>
          <a class="govuk-link" href="commonstandardsandpatterns.html">Read more about Rule 1 - Make use of common standards and patterns</a>
        </p>
        <h2 id="realiseinteroperability" class="govuk-heading-m"><strong class="govuk-tag">2</strong> Realise interoperability</h2>
        <p class="govuk-body">
          When designing a new service, you must plan for current and future integrations with other Defence data and systems.
        </p>
        <p>
          <a class="govuk-link" href="realiseinteroperability.html">Read more about Rule 2 - Realise interoperability</a>
        </p>
        <h2 id="dataasastrategicasset" class="govuk-heading-m"><strong class="govuk-tag">3</strong> Recognise data as a strategic asset</h2>
        <p class="govuk-body">
          Our data should be available to us when it is needed, regardless of our physical location or the device we use to access it.
        </p>
        <p>
          <a class="govuk-link" href="dataasastrategicasset.html">Read more about Rule 3 - Recognise data as a strategic asset</a>
        </p>
        <h2 id="makeyourservicesecure" class="govuk-heading-m"><strong class="govuk-tag">4</strong> Make your service secure</h2>
        <p class="govuk-body">
          Our data should be available to us when it is needed, regardless of our physical location or the device we use to access it.
        </p>
        <p>
          <a class="govuk-link" href="makeyourservicesecure.html">Read more about Rule 4 - Make your service secure</a>
        </p>
        <h2 id="buildinfutureproofing" class="govuk-heading-m"><strong class="govuk-tag">5</strong> Build in futureproofing from the start</h2>
        <p class="govuk-body">
          Futureproofing describes a range of measures that help ensure the technology we use remains current, supported, secure and reliable.
        </p>
        <p>
          <a class="govuk-link" href="buildinfutureproofing.html">Read more about Rule 5 - Build in futureproofing from the start</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related Content</h3>
        <ul class="govuk-list govuk-list--number">
          <li>Digital Strategy for Defence</li>
          <li>Payment.</li>
          <li>Confirmation.</li>
        </ul>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
      </div>
      
    </div>

  </main>
</div>

{% endblock %}
