{% extends "digitalrules/layout.html" %} {% block pageTitle %} Defence Gateway - Login {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-text-align-centre">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Congratulations
            </h1>
            <div class="govuk-panel__body">
              You are now viewing <strong>internal content</strong>
            </div>
          </div>
      </div>
    </div>
    
  </main>
  
</div>

{% endblock %}
