{% extends "digitalrules/layout.html" %} {% block pageTitle %} Defence Gateway - Login {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-text-align-centre">

        <img src="https://sts.defencegateway.mod.uk/images/mod.gif" alt="MOD Logo">
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h1 class="govuk-heading-l">Defence Gateway</h1>
        
        <p class="govuk-body">
          Be security savvy.
        </p>
        <p class="govuk-body">
          Keep your passwords to yourself. 
        </p>
        
        <form action="internalcontent.html">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="username" name="username" type="text" placeholder="Username or Service/Staff Number">
          </div>
          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" placeholder="Password">
          </div>

          <button class="govuk-button govuk-button--width-20" data-module="govuk-button">
            Sign in
          </button>
        </form>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-display-inline-block" style="text-align: center;">
          <!--<div class="govuk-!-display-inline" style="text-align:left; margin-left:20%;"><a class="govuk-link" href="#">Can't log in?</a></div><div class="govuk-!-display-inline" style="text-align:right; margin-left:20%;"><a class="govuk-link" href="#">Create an Account</a></div>-->
          <div class="govuk-!-display-inline" style="padding-right: 10em;"><a class="govuk-link" href="#">Can't log in?</a></div><div class="govuk-!-display-inline"><a class="govuk-link" href="#">Create an Account</a></div>
      </div>
    </div>

  </main>
  
</div>

{% endblock %}
