{% extends "layout.html" %} {% block pageTitle %} Defence Gateway - Login {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-text-align-centre">

        <img src="mod.gif" alt="MOD Logo">
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h1 class="govuk-heading-l">Defence Gateway</h1>
        
        <p>
          Be security savvy.
          Keep your passwords to yourself.
        </p>
        
        <div class="govuk-form-group">
          <input class="govuk-input govuk-input--width-20" id="username" name="username" type="text" placeholder="Username or Service/Staff Number">
          <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" placeholder="Password">
        </div>
        
        <button class="govuk-button govuk-input--width-20" data-module="govuk-button">
          Sign in
        </button>

      </div>
    </div>

  </main>
  
</div>

{% endblock %}
