{% extends "digitalrules/layout.html" %} {% block pageTitle %} Rule 4 - Make your service secure {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 4 - Make your service secure</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 4 - Make your service secure</h1>
        <p class="govuk-body-l">Support the implementation of a defence in depth approach to Security.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            Our architectural standards and policies are designed to make your service secure throughout its lifecycle.
        </p>
        <h3 class="govuk-heading-m">Secure by Design principles</h3>
        <p class="govuk-body">
            To help ensure your service is secure, you should read and understand our Secure by Design principles.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 1: Context</h3>-->
        <p class="govuk-body">
           <b>Principle 1: Context</b></br>
           Understand the programme’s cyber-security context and how it will use and manage data.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 2: Planning</h3>-->
        <p class="govuk-body">
           <b>Principle 2: Planning</b></br>
           Understand the programme’s security workstream and perform initial planning. This includes assessing the cyber threat and defining and validating any security requirements.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 3: Risk Assessment and Oversight</h3>-->
        <p class="govuk-body">
           <b>Principle 3: Risk Assessment and Oversight</b></br>
           Include cyber security risk management into existing programme governance as a continual process.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 4: Security Control Definition</h3>-->
        <p class="govuk-body">
           <b>Principle 4: Security Control Definition</b></br>
           Define and apply security controls to prevent any risks identified.  Reuse existing services and patterns where they exist.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 5: Supply Chain</h3>-->
        <p class="govuk-body">
           <b>Principle 5: Supply Chain</b></br>
           Understand the role and risks of the supply chain and how to ensure they meet their security responsibilities.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 6: Security Testing and Assurance</h3>-->
        <p class="govuk-body">
           <b>Principle 6: Security Testing and Assurance</b></br>
           Work with cyber security experts throughout to gain security assurance and test and validate throughout the programme lifecycle.
        </p>
        <!--<h3 class="govuk-heading-s">Principle 7: Through Life Management</h3>-->
        <p class="govuk-body">
           <b>Principle 7: Through Life Management</b></br>
           Monitor and improve security continually. Enable and meet assurance and make a plan for disposal.
        </p>
         
        <h2 class="govuk-heading-m">What you must do</h2>
        <p class="govuk-body">
          To design a secure service for now and in the future, you must:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            follow our Secure by Design Principles
          </li>
          <li>
            follow our <a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/defnet/HOCS/Documents/JSP440_Part1.pdf">Defence Manual of Security and Resilience</a> (part of JSP 440), to ensure your service is accredited
          </li>
          <li>
            appoint a Security Assurance Coordinator (SAC) with a level of expertise in line with your project
          </li>
          <li>
            appoint a Project Security Officer (PSyO) if your project is classified SECRET or above
          </li>
          <li>
            follow <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules">JSP 604</a> rules relating to Security:
          </li>
          <li style="list-style: none;">
            <ul>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-9-ict-shall-be-developed-using-the-cross-domain-solutions-approach-defined-by-iss-des-architecture">Rule 9, ICT shall be developed using the cross domain solutions approach defined by UKStratCom CyDR Security Architecture Team</a>, you must engage with CyDR for any solution that has a cross domain information exchange requirement
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-10-ict-shall-be-accredited-in-accordance-with-current-policy">Rule 10, ICT shall be accredited in accordance with current policy</a>, your solution must undergo the accreditation process
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-11-ict-shall-comply-with-op-augite-requirements">Rule 11, ICT shall comply with Op AUGITE requirements</a>, your solution must implement measures to comply with Op AUGITE
              </li>
              <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-22-ict-shall-be-compliant-with-hmg-information-assurance-policy-for-the-employment-of-cryptographic-products">Rule 22, ICT shall be compliant with UK government information assurance policy for the employment of cryptographic products</a>, the solution must engage with CyDR Crypt-Key and complete a Crypt-Key Management Plan (CMP)
              </li>
            </ul>
          </li>
          <li>
            follow the approaches in the <span class="comingsoon_link">Product Lifecycle Management principles and technical standards</span> (part of the Foundry Way) <span class="govuk-tag govuk-tag--yellow">(coming soon)</span>
          </li>
          <li>
            agree any proposal to use a new network gateway with the CyDR team before you start your project
          </li>
          <li>
            protect all communications using high grade crypto for any system classified as SECRET or TOP SECRET. 
            This must be agreed by the Crypt Key Enterprise Authority and documented in a crypto management plan as described in <a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/defnet/JFC/Pages/JSP490.aspx">JSP 490</a>
            and <a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/defnet/JFC/Pages/JSP491.aspx">JSP 491</a>
          </li>
          <li>
            use network bearers that are fit for purpose and offer good value for the type of service you are designing and its security requirements
          </li>
          <li>
            work with commercial teams to ensure that services delivered by a 3rd party include evergreen commitments. This is to reduce cyber risks from the use of any outdated technology
          </li>
          <li>
            To ensure Supply Chain resilence, <a class="govuk-link" href="https://www.gov.uk/government/publications/defence-condition-658-cyber-flow-down">DEFCON 658</a> must be applied to all suppliers involved in the solution supply chain, and you must also undertake a <a class="govuk-link" href="https://www.gov.uk/guidance/defence-cyber-protection-partnership">Defence Cyber Protection Partnership (DCPP)</a> risk assessment when engaging with a supplier to procure MOD ICT
          </li>
        </ul>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside>
          <p class="govuk-body-s">
            From: <a class="govuk-link" href="https://www.gov.uk/government/groups/defence-digital"><strong>Defence Digital</strong></a><br/>
            Published 1 April 2022<br/>
            Last updated 4 April 2022
          </p>
        </aside>
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://www.ncsc.gov.uk/collection/cross-domain-solutions">Security principles for cross domain solutions</a></li>
            <li><a class="govuk-link" href="https://www.ncsc.gov.uk/collection/developers-collection">Secure development and deployment guidance</a></li>
            <li><a class="govuk-link" href="https://www.ncsc.gov.uk/guidance/design-guidelines-for-high-assurance-products">Design guidelines for high assurance products</a></li>
            <li><a class="govuk-link" href="https://www.ncsc.gov.uk/guidance/secure-communication-principles">Secure communications principles</a></li>
            <li><a class="govuk-link" href="https://www.ncsc.gov.uk/collection/cloud-security">Cloud security guidance</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/defence-cyber-protection-partnership">Defence Cyber Protection Partnership (DCPP)</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/government/publications/acceptable-use-policy-jsp-740">JSP 740</a></li>
            <li><a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/604-work.aspx">Standards as a Service</a></li>
            <li><a class="govuk-link secureimage_link" href="login.html?url=https://modgovuk.sharepoint.com/sites/DefenceCryptKeyGuide">Defence Crypt-Key Guide</a></li>
          </ul>
        </aside>
      </div>
    
    </div>
 
    <!--<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading govuk-!-text-align-right">
              Next: Digital Rules point 5<br/>
              <a class="govuk-notification-banner__link" href="buildinfutureproofing.html">Build in futureproofing from the start</a>
            </p>
          </div>
        </div>
      </div>
    </div>-->

  </main>
  
</div>

{% endblock %}
