{% extends "layout.html" %} {% block pageTitle %} Rule 2 - Realise interoperability {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version C. The Digital Rules are currently in early development, at an <strong class="govuk-tag govuk-tag--purple">alpha</strong> stage. <br/>
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/1-manual-home-launch">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/digitalrules/digitalrules">Digital Rules</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Rule 2 - Realise interoperability</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" style="color:#505a5f">Digital Rules</span>
        <h1 class="govuk-heading-xl">Rule 2 - Realise interoperability</h1>
        <p class="govuk-body-l">To accelerate the shift to integrated services to ensure interoperability with our allies across all classifications.</p>

      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <p id="digitalrules" class="govuk-body">
            This rule forms part of the <a class="govuk-link" href="/digitalrules/digitalrules">Defence Digital Rules</a>, as embodied in the <a class="govuk-link" href="/1-manual-home-launch">Defence Service Manual</a>.
        </p>
        <p class="govuk-body">
            When designing a new service, you must plan for current and future integrations with other Defence data and systems.
        </p>
        <p class="govuk-body">
            This is crucial to help ensure that Defence can work together across the department and be interoperable with its allies and partners to solve common problems. 
            The UK does not operate or fight alone; interoperability is our ability to act together coherently, effectively and efficiently in partnership with our allies and partners, delivering shared effects in support of our national security objectives.
        </p>
        <p class="govuk-body">
            You must adopt a common approach to integration within your service to help achieve interoperability. 
            This includes using open standards and sharing patterns and principles across Defence, our partners and NATO allies.
        </p>
        <p class="govuk-body">
            If integration is not possible, you must include the reason as part of your design documentation.
        </p>

        <h2 class="govuk-heading-m">What you must do</h2>
        <p class="govuk-body">
            To help ensure your service can be integrated with others you must:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            read and understand our <a class="govuk-link" href="https://modgovuk.sharepoint.com/:b:/r/teams/2433/Artefacts%20101/CTA/Technology%20Foundations/Integration/API%20Strategy%20v1.1.pdf">API strategy</a>
          </li>
          <li>
            use a REST architectural style as your default choice
          </li>
          <li>
            use a microservices based architecture
          </li>
          <li>
            build digital services according to open standards and open architectures
          </li>
          <li>
            ensure your service is <a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/SecureByDesign">Secure by Design</a>
          </li>
          <li>
            follow the guidance in our <a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a>
          </li>
          <li>
            follow the NATO <a class="govuk-link" href="https://www.act.nato.int/activities/fmn">Federated Mission Networking (FMN) spirals</a>
          </li>
          <li>
            use the open <a class="govuk-link" href="https://pubs.opengroup.org/architecture/archimate3-doc/">ArchiMate specification</a> when modelling integrated services
          </li>
        </ul>
        <p class="govuk-body">
          In the absence of applicable standards, UK Government Standards should be used followed by open agreed industry technical standards (such as via the IEEE), with proprietary standards being used as a last resort, by exception.
        </p>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h3 class="govuk-heading-s">Related Content</h3>
          <ul class="govuk-list govuk-body-s">
            <li><a class="govuk-link" href="https://modgovuk.sharepoint.com/sites/DDTechnology/SitePages/Common-Technology-Architecture-(CTA)-Programme.aspx">Common Technology Architecture</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/guidance/the-technology-code-of-practice">Technology Code of Practice</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/service-manual/service-standard">GDS Service Standard</a></li>
          </ul>
        </aside>
      </div>
    
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Read more
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Next: Digital Rules point 3<br/>
              <a class="govuk-notification-banner__link" href="dataasastrategicasset.html">Recognise data as a strategic asset</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </main>
  
</div>

{% endblock %}
