{% extends "layout.html" %} {% block pageTitle %} Staas Home {% endblock %} {% block content %}


<div style="background-color: #1d70b8 ; padding: 10px; border: 0px solid rgb(0, 13, 128);">

    <h1 class="govuk-heading-xl" style="color:white">
        Welcome to the MOD Standards as a service

        <h5>
            <h5 class="govuk-heading-s" style="color:white"> The place to find the right guidance to support your project
                <br>
                <br>
                <br>
                <div>
                    <input aria-expanded="false" aria-owns="app-site-search__input__listbox" aria-autocomplete="both" aria-describedby="app-site-search__input__assistiveHint" autocomplete="off" class="app-site-search__input app-site-search__input--default" id="app-site-search__input"
                        name="input-autocomplete" placeholder="Search the standards" type="text" role="combobox"></div>

</div>
<br>
<br>
<br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <a href="content-main.html" class="govuk-link govuk-link--no-visited-state">JSP604 guidance</a>
        <p>See how the JSP604 process works and what you need to do to meet the standards</p>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Security in MOD</a>
        <p>Understand the security standards applicable to your project or service </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Project needs and requirements</a>
        <p>What you'll need for areas such as connectivity, architecture and safety</p>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Delivery planning</a>
        <p>understand areas such as scope, governance and risk management </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Government Commercial standards</a>
        <p>Business cases, procurement strategy, funding and contracts</p>
        <a href="#" class="govuk-link govuk-link--no-visited-state">The service standard</a>
        <p>Understand the Government Service Standards and how to meet them</p>
    </div>
</div>
<hr>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Communities of practice</a>
        <p>You can view the communities of practice to find more learning resources and connect with people across the MOD and wider government</p>
    </div>
    <div class="govuk-grid-column-one-half">
        <a href="#" class="govuk-link govuk-link--no-visited-state">JSP604 rules list</a>
        <p>View the list of JSP604 rules and the detail within each one</p>
    </div>
</div>
{% endblock %}