{% extends "layout.html" %} {% block pageTitle %} Staas Home {% endblock %} {% block content %}


<div style="background-color: #1d70b8 ; padding: 10px; border: 0px solid rgb(0, 13, 128);">

    <h1 class="govuk-heading-xl" style="color:white">
        Welcome to Standards as a service

        <h5>
            <h5 class="govuk-heading-s" style="color:white"> The place to find the right guidance to support your project
                <br>
                <br>
                <br>
                <div>

                    <style>
                        .search-box {
                            box-sizing: border-box;
                            display: flex;
                            width: 60%;
                            background-color: #ffffff;
                        }
                        
                        .search-box input {
                            width: 100%;
                            height: 40px;
                            padding: 6px;
                            margin: 0;
                            border: solid 1px #bfc1c3;
                            border-right: 0;
                            box-sizing: border-box;
                            font-family: 'nta', Arial, sans-serif;
                            font-weight: 400;
                            text-transform: none;
                            font-size: 16px;
                            line-height: 1.75;
                            background: #ffffff;
                            border-radius: 0;
                            -webkit-appearance: none;
                        }
                        
                        .search-box input:focus {
                            outline: 3px solid #ffdd00;
                        }
                        
                        .search-box button {
                            background-color: black;
                            border: 0;
                            display: block;
                            color: #ffffff;
                            position: relative;
                            padding: 10px;
                            width: 45px;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-position: 2px 50%;
                            text-indent: -999em;
                            overflow: hidden;
                        }
                        
                        .search-box button:focus {
                            outline: 3px solid #ffdd00;
                        }
                    </style>

                    <div class="search-box">
                        <input placeholder="Search the Standards" class="govuk-input" type="search" value="" /><button>
        <svg
          version="1.1"
          fill="currentColor"
          width="16"
          height="100%"
          viewBox="0 0 57 57"
          style="display: block"
        >
          <title>Search</title>
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"
          ></path>
        </svg>
      </button>
                    </div>

                </div>
</div>
<br>
<br>
<br>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <a href="project-type.html" class="govuk-link govuk-link--no-visited-state">JSP604 guidance</a>
        <p>Follow the guidance to ensure your project meets the MOD standards</p>
        <a href="security.html" class="govuk-link govuk-link--no-visited-state">Security in MOD</a>
        <p>Understand the security standards that your project or service must meet </p>
        <a href="sustainability.html" class="govuk-link govuk-link--no-visited-state">Sustainability</a>
        <p>Ensure your service meets sustainability needs such as biodiversity, carbon reduction, environmental protection and social value</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="project-needs.html" class="govuk-link govuk-link--no-visited-state">Project needs and requirements</a>
        <p>Make sure your project covers connectivity, architecture, service management and safety concerns</p>
        <a href="delivery.html" class="govuk-link govuk-link--no-visited-state">Delivery planning</a>
        <p>Understand how to successfully deliver your project by managing scope, governance and risk
        </p>
        <a href="foundryway.html" class="govuk-link govuk-link--no-visited-state">The Foundry way</a>
        <p>Find out how to set up digital services and work in partnership with fellow digital experts throughout MOD, and use the Foundry Way’s designs, tools and templates for your projects </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="commercial.html" class="govuk-link govuk-link--no-visited-state">Government Commercial standards</a>
        <p>Understand procurement, business cases, funding, managing budgets and contract management
        </p>
        <a href="#" class="govuk-link govuk-link--no-visited-state">The service standard</a>
        <p>Follow the Service Standard to create and run services that meet the needs of your users
        </p>
    </div>

</div>
<hr>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Communities of practice</a>
        <p>Learn more about best practice by connecting with colleagues within MOD and across wider government.
        </p>
    </div>
    <div class="govuk-grid-column-one-half">
        <a href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules" class="govuk-link govuk-link--no-visited-state">JSP604 rules list</a>
        <p>View the list of JSP604 rules and the detail within each one</p>
    </div>
</div>
{% endblock %}