{% extends "layout.html" %} {% block pageTitle %} definitions {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a name="top"></a>
        <h1 class="govuk-heading-xl">
            Digital services definitions
        </h1>
        <h2 class="govuk-heading-l">Strategy</h2>


        <p>Strategy is a plan of action designed to achieve short, medium or long-term goals and priorities - or overall objectives. It sets out what is needed to achieve these goals and priorities and how we will achieve them. <br><br>Our strategies are
            like a pyramid structure and have several levels, for example corporate, divisional, functional and operational, with each level feeding into the other. The Defence Data Management Strategy, for example, feeds into functional and operational
            strategies.
        </p>

        <h3 class="govuk-heading-m">Examples</h3>


        <p> Defence Data Management Strategy<br> Digital Strategy for Defence
        </p>

        <h3 class="govuk-heading-m">Owner</h3>
        <p>Strategy is owned by senior management.</p>

        <h3 class="govuk-heading-m">Target audience</h3>
        <p>The target audience for strategy is information asset owners.</p>

        <p class="govuk-body">Strategy must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>set out to achieve short, medium and long term goals</li>
            <li>refer to one or more higher strategies (unless a highest-level strategy)</li>
        </ul>

        <h2 class="govuk-heading-l">Principles</h2>
        <p>Principles are instructions that control or explain how something happens or works. They are based on strategy and lay the foundation for decision-making and for framing policies, standards and rules. Principles complement guidelines.</p>
        <p>Principles can be interrelated and applied as a set, rather than in isolation.</p>
        <p>JSP 604 principles, for example, are used to assess projects and to develop a set of rules and technical standards (JSP 604 rules). JSP 604 principles may be applied at different times, depending on the type of project and the stage a project has reached (or other relevant technical considerations).</p>
        <p>Principles should be adhered to as far as practicable, but should not be contradictory. They should also be flexible enough to be more loosely interpreted when needed.</p>
        <p>Principles can be structured to form a hierarchy, for example, they can apply to the entire organisation (enterprise-level principles), to specific areas, such as IT resources and assets (architecture principles) or to specific areas of activity (JSP 604 principles).</p>

        <h3 class="govuk-heading-m">Examples</h3>

        <p>Enterprise principles<br>Architecture principles<br>JSP 604 principles</p>
        
        <h3 class="govuk-heading-m">Owner</h3>

        <p>Principles are owned and endorsed by senior management, for example head of architecture.</p>

        <h3 class="govuk-heading-m">Target audience</h3>

        <p>The target audience for principles is information asset owners.</p>

        <p class="govuk-body">Principles must:</p>

        <ul class="govuk-list govuk-list--bullet"><li>be clear and understandable to all</li><li> be precise enough to support consistent decision-making</li><li>support the creation of enforceable policies, standards and rules</li></ul>

        <h2 class="govuk-heading-l">Policy</h2>

        <p>A policy is a set of general guidelines that describes how an organisation will approach a specific issue. Policies must be clearly written and describe the actions and processes to follow in specific scenarios.<br><br> Policies sit below strategy and are designed to support them. Policies also indicate management intent, in support of principles. Rules stem from policies and are designed to enforce them. <br><br>There should be only one
            policy for each organisational function, for example quality, safety, environment, IT, security. <br><br> MOD policies are generally presented as Joint Service Publications.

        </p>

        <h3 class="govuk-heading-m">Examples</h3>


        <p> MOD Policy for Quality (JSP 940)<br> MOD Standardization Management Policy (JSP 920)
            <br>Web Publishing Policy (JSP 745)</p>

        <h3 class="govuk-heading-m">Owner</h3>
        <p>Policy is owned by senior management</p>

        <h3 class="govuk-heading-m">Target audience</h3>

        <p>The target audience for policy is digital delivery teams.</p>

        <p class="govuk-body">Policy must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be clear</li>
            <li>cover a specific issue or specific scenarios</li>
        </ul>

        <h2 class="govuk-heading-l">Rules</h2>

        <p>Rules are mandatory instructions and can restrict or enforce certain activity to ensure a policy outcome is achieved.  <br><br>Rules stem from policy and are designed to enforce policy. Rules are followed to maintain one or more standards.<br><br> Rules should not be so excessive or unreasonable that they prevent informed decision-making or block innovation. They
            should not favour personal preference and should be informed by the wider community of practice.<br><br> Rules should only be put in place where needed and for specific reasons. For example, rather than a restriction on the number of programming
            languages, a rule should state that programmes must be written to integrate with programmes that are already in use. This eliminates the need to update the rules as new technologies are adopted.


        </p>


        <h3 class="govuk-heading-m">Owner</h3>
        <p>The rules are owned by rule owners.</p>

        <h3 class="govuk-heading-m">Target audience</h3>
        <p>The target audience for rules is digital delivery teams.</p>

        <p class="govuk-body">Rules must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be mandatory</li>
            <li>be put in place where needed and for specific reasons</li>
        </ul>

        <p class="govuk-body">Rules must not:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be excessive or unreasonable</li>
            <li>favour personal preferences</li>
        </ul>

        <h2 class="govuk-heading-l">Standards</h2>

        <p>A standard is a document that provides requirements, specifications, guidelines or characteristics that can be used consistently and repeatedly. This ensures that materials, products, processes and services are fit for purpose. <br><br> Standards
            are a statement of good practice, established by agreement and agreed by a recognised body with the aim of making things better, safer or more efficient.<br><br>Rules ensure that particular standards are maintained.<br><br> Standards are often coupled with guidance to make it clear how they can be achieved.
            <br><br> Compliance with standards is intended to ensure consistent results.



        </p>

        <h3 class="govuk-heading-m">Examples</h3>
        <p>The <a href="https://www.gov.uk/government/collections/open-standards-for-government-data-and-technology" class="govuk-link">Open standards for government data and technology</a> are documented and publicly-available standards for software interoperability,
            data and document formats for government IT specifications. These open standards improve how government provides services and shares data. They also allow users to copy, distribute and use technology freely or at low cost.
        </p>

        <p>The <a href="https://www.gov.uk/service-manual/service-standard" class="govuk-link">Service standard</a> is a government standard that provides a list of criteria to help teams in government create and run user-centred digital services. Certain
            types of government service will be assessed against the Service Standard as a condition of Cabinet Office spend controls.</p>

        <p>A <strong>defence standard</strong> is a document established by consensus in accordance with <strong>JSP 920</strong> and approved by MOD. It includes rules, guidelines or characteristics for repeated use - and aims to achieve the optimum level
            of order in a Defence context.<br><br> Other standards include industry standards, international standards and military standards.
        </p>
        <h3 class="govuk-heading-m">Owner</h3>
        <p>Defence standards are owned and produced by suitably qualified and experienced persons (SQEPs) or other experienced staff. In safety, for example, Quality, Safety and Environment Protection (QSEP) are the owners.
        </p>

        <h3 class="govuk-heading-m">Target audience</h3>
        <p>The target audience for standards is digital delivery teams.</p>

        <p class="govuk-body">Standards must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>document requirements, specifications and guidelines</li>
            <li>be designed for repeated and consistent use</li>
            <li>lead to consistent and coherent results</li>
        </ul>



        <h2 class="govuk-heading-l">Guidance</h2>

        <p>Guidance is advice, information or a set of instructions aimed at resolving a problem or difficulty. <br><br> Guidance sets out a recommended approach but is not mandatory. <br><br> When using guidance, users may prefer to achieve an outcome in
            a different way, but they must be able to demonstrate how they have met any relevant standard.
        </p>

        <h3 class="govuk-heading-m">Examples</h3>
        <p>The <a href="https://www.gov.uk/government/collections/open-standards-for-government-data-and-technology" class="govuk-link">Open standards for government data and technology guidance</a> is provided alongside each of the standards. The guidance
            details how to use or comply with each relevant standard.
        </p>

        <p>Web based <a href=" https://www.gov.uk/guidance/gds-api-technical-and-data-standards




            " class="govuk-link">application programming interface (API) guidance</a> sits alongside the API technical and data standards. The guidance contains detailed instructions on how to use and set up the different elements of the interface to
            ensure it complies with all other standards that affect APIs including: <a href="https://standards.rest/" class="govuk-link">RESTful</a> - for web services to conform to the REST architectural style (an industry standard), <a href=" https://www.gov.uk/government/publications/open-standards-for-government/date-times-and-time-stamps-standard"
                class="govuk-link">ISO8601</a> - to represent the date and time (an international standard).
        </p>
        <h3 class="govuk-heading-m">Owner</h3>
        <p>Guidance is owned and produced by a community of practice within each subject area, and may include one or more technical specialists.
        </p>

        <h3 class="govuk-heading-m">Target audience</h3>
        <p>The target audience for guidance is digital delivery teams.</p>

        <p class="govuk-body">Guidance must:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be clear and easy to understand</li>
            <li>resolve a problem or difficulty</Li>
            <Li>lead to compliance with standards when followed</Li>
            <Li>be regularly updated to reflect current best practice</li>
        </ul>

        <p class="govuk-body">Guidance must not:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>be mandatory</li>
            <li>contradict policy or standards</li>
        </ul>

        <a href="#top">&#x2191; Back to top</a>

    </div>
    <div class="govuk-width-container app-width-container undefined"><div class="helpful"><div class="govuk-grid-row panel"><div class="govuk-grid-column-one-half left-box"><h2>Is this page useful?</h2><ul><li><button class="govuk-button">Yes</button></li><li><button class="govuk-button">No</button></li></ul></div></div></div></div>
</div>

{% endblock %}