{% extends "layout.html" %} {% block pageTitle %} Feedback page {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Give feedback on Standards as a service</h1>

        <form class="form" action="/url/of/next/page" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Overall how satisfied were you with the service today?
                        </h1>
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="survey" name="survey" type="radio" value="staas" aria-describedby="none">
                            <label class="govuk-label govuk-radios__label" for="survey">
            Very satisfied
          </label>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="survey-2" name="survey" type="radio" value="staas" aria-describedby="none">
                            <label class="govuk-label govuk-radios__label" for="survey-2">
            Satisfied
          </label>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="survey-2" name="survey" type="radio" value="staas" aria-describedby="none">
                            <label class="govuk-label govuk-radios__label" for="survey-2">
          Neither satisfied or dissatisfied
        </label>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="survey-2" name="survey" type="radio" value="staas" aria-describedby="none">
                            <label class="govuk-label govuk-radios__label" for="survey-2">
        Dissatisfied
      </label>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="survey-2" name="survey" type="radio" value="staas" aria-describedby="none">
                            <label class="govuk-label govuk-radios__label" for="survey-2">
      Very dissatisfied
    </label>

                        </div>

                    </div>

                    <button class="govuk-button" data-module="govuk-button">Send feedback</button>

        </form>

        </div>
    </div>

    {% endblock %}