{% extends "layout.html" %} {% block pageTitle %} JSP604 rules {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            JSP604 Rules
        </h1>

        <p>JSP604 is know as the "Defence Manual for ICT", and considers the design and technical aspects applicable to Defence .</p>

        <p>The JSP604 rules are detailed in the <a href="/url/of/onward/page">MOD Wiki pages</a>. You can work through the rules in any order.</p>

    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">You have completed 3 of 23 rules</h2>


        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Rules list
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Rule 0
                </a>
              </span>
                        <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Rule 1
                </a>
              </span>
                        <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Rule 2
                </a>
              </span>
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
                    </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
            <a href="#" aria-describedby="contact-details-status">
              Rule 3
            </a>
          </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
        <a href="#" aria-describedby="contact-details-status">
          Rule 4
        </a>
      </span>
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-details-status">Completed</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
    <a href="#" aria-describedby="contact-details-status">
      Rule 5
    </a>
  </span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
  Rule 6
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 7
</a>
</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 8
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 9
</a>
</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 10
</a>
</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 11
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 12
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 13
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 14
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 15
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 16
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 17
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 18
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 19
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 20
</a>
</span>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 21
</a>
</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
<a href="#" aria-describedby="contact-details-status">
Rule 22
</a>
</span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>


            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Apply for R&D Board approval
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                Request approval
              </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>

{% endblock %}