{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Project needs and requirements
        </h1>

        <p>The guidance on this page covers a number of areas within the guidance relating to JSP604. The guidance may cover a number of rule areas either partially or fully and it will indicate which rules or part rules are covered.</p>

        <h4 class="govuk-heading-s">Connectivity</h4>
        <p><a href="/url/of/onward/page">Connectivity link1</a></p>
        <p><a href="/url/of/onward/page">Connectivity link2</a></p>
        <p><a href="/url/of/onward/page">Connectivity link3</a></p>
        <h4 class="govuk-heading-s">Architecture</h4>
        <p><a href="/url/of/onward/page">Architecture link 1</a></p>
        <p><a href="/url/of/onward/page">Architecture link 2</a></p>
        <p><a href="/url/of/onward/page">Architecture link 3</a></p>
        <h4 class="govuk-heading-s">Service Management</h4>
        <p><a href="/url/of/onward/page">Service Asset and Configuration Management (SACM)</a></p>
        <p><a href="/url/of/onward/page">Change management</a></p>
        <p><a href="/url/of/onward/page">Knowledge management</a></p>
        <p><a href="/url/of/onward/page">Event management</a></p>
        <p><a href="/url/of/onward/page">Service management toolset</a></p>
        <p><a href="/availability-step.html">Availability management (AVM): step by step</a>.</p>
        <p><a href="/url/of/onward/page">IT service continuity management (ITSCM)</a></p>
        <h4 class="govuk-heading-s">Safety</h4>
        <p><a href="/url/of/onward/page">Safety: step by step</a></p>

    </div>
</div>

{% endblock %}