{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}


<div class="govuk-container search-container">
    <div class="govuk-width-container app-width-container undefined">
        <div class="govuk-grid-row undefined">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-3">
                    <h1 class="govuk-heading-xl title-text">Welcome to Standards as a Service</h1>
                </div>
                <p class="top-intro">You’ll find all the <span class="stand-out">standards and guidance</span> for your digital products and services here</p>
                <div class="search-box"><input placeholder="Search the Standards" class="govuk-input" type="search" value=""><button><svg version="1.1" fill="currentColor" width="16" height="100%" viewBox="0 0 57 57" class="search-icon" style="display: block;"><title>Search</title><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg></button></div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="top-links">
                    <h2 class="title">Popular topics</h2>
                    <ul class="govuk-list">
                        <li><a href="/#" class="govuk-link govuk-link--inverse ">JSP 604 for beginners</a></li>
                        <li><a class="govuk-link govuk-link--inverse " href="/#">JSP 604 guidance</a></li>
                        <li><a class="govuk-link govuk-link--inverse " href="/#">Digital Technology Rules</a></li>
                        <li><a class="govuk-link govuk-link--inverse " href="/#">Security</a></li>
                        <li><a class="govuk-link govuk-link--inverse " href="/#">Board calendars</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Project needs and requirements
        </h1>

        <p>The guidance on this page covers a number of areas within the guidance relating to JSP604. The guidance may cover a number of rule areas either partially or fully and it will indicate which rules or part rules are covered.</p>

        <h4 class="govuk-heading-s">Connectivity</h4>
        <p><a href="/url/of/onward/page">Connectivity link1</a></p>
        <p><a href="/url/of/onward/page">Connectivity link2</a></p>
        <p><a href="/url/of/onward/page">Connectivity link3</a></p>
        <h4 class="govuk-heading-s">Architecture</h4>
        <p><a href="/url/of/onward/page">Architecture link 1</a></p>
        <p><a href="/url/of/onward/page">Architecture link 2</a></p>
        <p><a href="/url/of/onward/page">Architecture link 3</a></p>
        <h4 class="govuk-heading-s">Service Management</h4>
        <p><a href="/url/of/onward/page">Service Asset and Configuration Management (SACM)</a></p>
        <p><a href="/url/of/onward/page">Change management</a></p>
        <p><a href="/url/of/onward/page">Knowledge management</a></p>
        <p><a href="/url/of/onward/page">Event management</a></p>
        <p><a href="/url/of/onward/page">Service management toolset</a></p>
        <p><a href="/availability-step.html">Availability management (AVM): step by step</a>.</p>
        <p><a href="/url/of/onward/page">IT service continuity management (ITSCM)</a></p>
        <h4 class="govuk-heading-s">Safety</h4>
        <p><a href="/url/of/onward/page">Safety: step by step</a></p>

    </div>
</div>

{% endblock %}