{% extends "layout.html" %} {% block pageTitle %} Content page {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Guidance for project type: Innovation
        </h1>

        <p>This is the guidance relating to innovation projects. If your project is not an innovation project you can <a class="govuk-link" href="/commercial.html">Change your project type</a> </p>

        <p>The guidance is broken down into key areas:</p>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/commercial.html">Commercial</a>
            </li>
            <li>
                <a class="govuk-link" href="/project-needs.html">Project needs and requirements</a>
                <p>Includes areas such as connectivity, architecture, reliability, maintainability and safety</p>
            </li>
            <li>
                <a class="govuk-link" href="/delivery.html">Delivery planning and governance</a>
            </li>
            <li>
                <a class="govuk-link" href="/security.html">Security</a>
            </li>
            </li>
            <li>
                <a class="govuk-link" href="/technology.html">Technology</a>
            </li>
            <li>
                <a class="govuk-link" href="/sustainability.html">Sustainability</a>
            </li>
        </ul>

    </div>
    <div class="govuk-grid-column-one-third">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4 class="govuk-heading-s">
            Related content
        </h4>
        <p><a class="govuk-link" href="/JSP604-rules.html">JSP604 Rules</a></p>
    </div>
</div>
</div>

{% endblock %}