{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Technology
        </h1>
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    This page is currently being developed and new guidance will appear here soon. In the meantime, relevant links to technology guidance for JSP604 are on this page. If you have an interest in this topic or any ideas for improvements please contact the team
                    at standards@digital.mod.uk

                </p>
            </div>

            <p>Rule nn topic xxxxxxx <a href="/url/of/onward/page">find out more about this subject</a>.</p>

        </div>
    </div>

    {% endblock %}