{% extends "layout.html" %} {% block pageTitle %} Technology guidance {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Technology
        </h1>
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    This page is currently being developed and new guidance will appear here soon. In the meantime, relevant links to technology guidance for JSP604 are on this page.

                </p>
            </div>



        </div>
        <p>If you have any feedback or ideas on how to improve this topic, please contect the team at <a href="/url/of/onward/page">standards@mod.gov.uk</a>.</p>
        <h2 class="govuk-heading-l">
            Technology guidance by JSP604 rule area
        </h2>

        <p>Technology questions to ask <a href="/url/of/onward/page">Rule 0</a>.</p>
        <p>Single Information Environment (SIE) <a href="/url/of/onward/page">Rule 2</a>.</p>
        <p>Domain architecture <a href="/url/of/onward/page">Rule 3</a>.</p>
        <p>Quality of service (QOS) policy <a href="/url/of/onward/page">Rule 4</a>.</p>
        <p>Domain name system (DNS) policy <a href="/url/of/onward/page">Rule 5</a>.</p>
        <p>Internet protocol (IP) policy <a href="/url/of/onward/page">Rule 6</a>.</p>
        <p>Messaging policy <a href="/url/of/onward/page">Rule 7</a>.</p>
        <p>Electronic directory services <a href="/url/of/onward/page">Rule 8</a>.</p>
        <p>Cross domain solutions approach <a href="/url/of/onward/page">Rule 9</a>.</p>
        <p>Accreditation <a href="/url/of/onward/page">Rule 10</a>.</p>
        <p>Op Augite requirements <a href="/url/of/onward/page">Rule 11</a>.</p>
    </div>

    {% endblock %}