{% extends "layout.html" %} {% block pageTitle %} Tech guidance {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Technical coherence
        </h1>

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    This page is currently being developed and new guidance will appear here soon. In the meantime, relevant links to technical coherence guidance for JSP604 are on this page.

                </p>
            </div>



        </div>
        <p>If you have any feedback or ideas on how to improve this topic, please contect the team at <a href="/url/of/onward/page">standards@mod.gov.uk</a>.</p>
        <h2 class="govuk-heading-l">
            Techical coherence guidance by JSP604 rule area
        </h2>



        <p><a href="/url/of/onward/page">Rule 3: ICT shall be developed with respect to the relevant domain architecture</a></p>
        <p><a href="/url/of/onward/page">Rule 4: ICT shall be compliant with quality of service (QOS) policy</a></p>
        <p><a href="/url/of/onward/page">Rule 5: ICT shall be compliant with domain name system (DNS) policy</a></p>
        <p><a href="/url/of/onward/page">Rule 6: ICT shall be compliant with internet protocol (IP) policy</a></p>
        <p><a href="/url/of/onward/page">Rule 7: ICT shall be compliant with messaging policy</a></p>
        <p><a href="/url/of/onward/page">Rule 8: ICT shall be compliant with electronic directory services policy</a></p>
        <p><a href="/url/of/onward/page">Rule 9: ICT shall be developed using the cross domain solutions approach defined by ISS Des Architecture</a>.</p>
        <p><a href="/url/of/onward/page">Rule 13: ICT shall be compliant with information management policy</a></p>

    </div>
</div>

{% endblock %}