{% extends "layout.html" %} {% block pageTitle %} Through life guidance {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Through life management
        </h1>

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    This page is currently being developed and new guidance will appear here soon. In the meantime, relevant links to Through life management guidance for JSP604 are on this page.

                </p>
            </div>



        </div>
        <p>If you have any feedback or ideas on how to improve this topic, please contect the team at <a href="/url/of/onward/page">standards@mod.gov.uk</a>.</p>
        <h2 class="govuk-heading-l">
            Through life management guidance by JSP604 rule area
        </h2>

        <p><a href="/url/of/onward/page">Rule 14: ICT shall be developed and its performance demonstrated with respect to the environment in which it will operate</a></p>
        <p><a href="/url/of/onward/page">Rule 15: ICT shall have suitable representative test environments (RTE) available to enable through life testing to be conducted</a></p>
        <p><a href="/url/of/onward/page">Rule 16: ICT capabilities and services shall be designed to provide a high-quality product, meeting the customers’ requirements for reliability, maintainability, usability and serviceability thereby permitting holistic service management</a></p>
        <p><a href="/url/of/onward/page">Rule 17: ICT shall have defined support arrangements</a></p>
        <p><a href="/url/of/onward/page">Rule 18: ICT shall have appropriate software licenses procured and managed through life</a></p>
        <p><a href="/url/of/onward/page">Rule 19: ICT shall comply with spectrum management requirements</a></p>
        <p><a href="/url/of/onward/page">Rule 20: ICT shall comply with electromagnetic integration requirements</a>.</p>
        <p><a href="/url/of/onward/page">Rule 21: ICT shall be compliant with safety and environmental requirements</a>.</p>
        <p><a href="/url/of/onward/page">Rule 22: ICT shall be compliant with HMG ia policy when employing cryptographic products</a></p>

    </div>
</div>

{% endblock %}