{% extends "layout.html" %} {% block pageTitle %} Through life guidance {% endblock %} {% block beforeContent %} {% endblock %} {% block content %}

<div class="govuk-width-container ">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
    EXPERIMENTAL
  </strong>
            <span class="govuk-phase-banner__text">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
  </span>
        </p>
    </div>
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Through life management
                </h1>
                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">We are working to improve the guidance on this page and will publish updates as they are available.</p>
                    </div>
                </div>
                <h2 class="govuk-heading-l">Guidance for your service</h2>
                <p>You must follow all <a href="/1-manual-home-launch">relevant standards</a> to gain assurance for your service. </p>
                <p>These JSP 604 rules explain how to deliver through life management in your service.</p>
                <ol class="govuk-list">
                    <li class="app-service-standard-point" id="criterion-1">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 14</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-14-ict-shall-be-developed-and-its-performance-demonstrated-with-respect-to-the-environment-in-which-it-will-operate">ICT shall be developed and its performance demonstrated with respect to the environment in which it will operate</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-2">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 15</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-15-ict-shall-have-suitable-representative-test-environments-rte-available-to-enable-through-life-testing-to-be-conducted">ICT shall have suitable representative test environments (RTE) available to enable through life testing to be conducted</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-3">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 16</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-16-ict-capabilities-and-services-shall-be-designed-to-provide-a-high-quality-product">ICT capabilities and services shall be designed to provide a high-quality product, meeting the customers' requirements for reliability, maintainability, usability and serviceability thereby permitting holistic service management</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-4">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 17</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-17-ict-shall-have-defined-support-arrangements">ICT shall have defined support arrangements</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-5">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 18</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-18-ict-shall-have-appropriate-software-licenses-procured-and-managed-through-life">ICT shall have appropriate software licenses procured and managed through life</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-6">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 19</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-19-ict-shall-comply-with-spectrum-management-requirements">ICT shall comply with spectrum management requirements</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-7">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 20</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-20-ict-shall-comply-with-electromagnetic-integration-requirements">ICT shall comply with electromagnetic integration requirements</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-8">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 21</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-21-ict-shall-be-compliant-with-safety-and-environmental-requirements">ICT shall be compliant with safety and environmental requirements</a></p>
                        </div>
                    </li>
                    <li class="app-service-standard-point" id="criterion-9">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
                            <span class="app-service-standard-point__number">Rule 22</span></h2>
                        <div class="app-service-standard-point__details">
                            <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="https://www.gov.uk/government/publications/joint-service-publication-jsp-604-network-rules/rule-22-ict-shall-be-compliant-with-hmg-information-assurance-policy-for-the-employment-of-cryptographic-products">ICT shall be compliant with HMG ia policy when employing cryptographic products</a></p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </main>
</div>

{% endblock %}